In [5]:
%pip install pandas pyarrow

Requirement already satisfied: pandas in ./.venv/lib/python3.10/site-packages (1.4.2)
Collecting pyarrow
  Downloading pyarrow-8.0.0-cp310-cp310-macosx_11_0_arm64.whl (16.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.2/16.2 MB 10.2 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in ./.venv/lib/python3.10/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pyarrow
Successfully installed pyarrow-8.0.0
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the '/Users/chris.ottinger/opt/jupyterlab/.venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pandas as pd
import pyarrow.parquet as pq

In [23]:
pq_df_0 = pd.read_parquet("./workspace/all-fields.parquet")
pq_df_1 = pd.read_parquet("./workspace/some-empty-fields.parquet")
csv_df_0 = pd.read_csv("./workspace/all-fields.csv",
                       header=0,
                       low_memory=False,
                       dtype=str)
csv_df_0.fillna('', inplace=True)
csv_df_1 = pd.read_csv("./workspace/some-empty-fields.csv",
                       header=0,
                       low_memory=False,
                       dtype=str)
csv_df_1.fillna('', inplace=True)

In [25]:
display(pq_df_0.head())
display(pq_df_1.head())
display(csv_df_0.head())
display(csv_df_1.head())

     name            description value                   updated
0    Anit    primary contributor    50  2022-06-18 13:45:23+1000
1  Weston  secondary contributor   100  2022-06-18 18:12:49+1000

     name description value                   updated
0    Anit        None  None  2022-06-18 13:45:23+1000
1  Weston        None  None  2022-06-18 18:12:49+1000

     name            description value                   updated
0    Anit    primary contributor    50  2022-06-18 13:45:23+1000
1  Weston  secondary contributor   100  2022-06-18 18:12:49+1000

     name description value                   updated
0    Anit                    2022-06-18 13:45:23+1000
1  Weston                    2022-06-18 18:12:49+1000

In [26]:
display(pq_df_0.dtypes)
display('---')
display(pq_df_1.dtypes)
display('   +++   ')
display(csv_df_0.dtypes)
display('---')
display(csv_df_1.dtypes)

name           object
description    object
value          object
updated        object
dtype: object

'---'

name           object
description    object
value          object
updated        object
dtype: object

'   +++   '

name           object
description    object
value          object
updated        object
dtype: object

'---'

name           object
description    object
value          object
updated        object
dtype: object

In [21]:
parquet_file = pq.ParquetFile('./workspace/all-fields.parquet')

display(parquet_file.metadata)

<pyarrow._parquet.FileMetaData object at 0x121b69440>
  created_by: parquet-cpp-arrow version 8.0.0
  num_columns: 4
  num_rows: 2
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 2347